<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet">
</head>

<body class="p-4 bg-gray-100">

    

        <div class="grid grid-cols-[1fr_3fr_3fr_3fr_3fr_3fr_3fr_3fr] pr-12 mb-2">
            <div></div>
            <div th:each="day : ${weekDays}"  class="pb-2 text-sm font-semibold text-center">
                <span th:text="${#strings.capitalize(day.dayOfWeek.toString().toLowerCase())}"></span> <span th:text="${#temporals.format(day, 'dd MMM')}">Date</span>
            </div>
        </div>

        <div class="grid grid-cols-[1fr_3fr_3fr_3fr_3fr_3fr_3fr_3fr] pr-12" th:each="time : ${timeSlots}">
            
            <div class="text-right pr-2 text-sm font-medium h-6" th:text="${time}"
                th:classappend="${time.minute == 0 ? '' : ''}"
                th:if="${time.minute == 0}">
            </div>

            <div th:if="${time.minute == 30}" class="grid grid-cols-8 gap-2">
                <p class="invisible">.</p>
            </div>

            <div th:each="day : ${weekDays}" 
                class="border-gray-200 box-border overflow-hidden"
                th:classappend="${time.minute == 0 ? 'border-t border-r' : 'border-gray-300 border-r'}">
                
                <div th:if="${eventMap.get(day).get(time) != null}" 
                th:classappend="${'grid grid-cols-' + eventMap.get(day).get(time).size()}"class="group">

                    <div th:each="event : ${eventMap.get(day).get(time)}" class="bg-green-200">
                        <a th:href="@{/events/{eventId}(eventId=${event.id})}">
                            <div th:if="${event.getStartTime().equals(time)}" th:text="${event.getTitle()}" class="border-t border-l border-r border-black overflow-hidden whitespace-nowrap truncate px-1 text-sm h-6 box-border"></div>
                            <div th:if="${event}" class=""></div>
                            <div th:if="${!event.getStartTime().equals(time)}" class="border-l border-r border-black box-border h-6"></div>
                            <div th:if="${event.getEndTime().minusMinutes(30).equals(time)}" class="border-black border-b box-border h-0"></div>
                        </a>
                    </div>
                
                </div>

            </div>
        </div>
    </div>

</body>
</html>
