<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="text">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0"> 
    <link href="/css/tailwind.css" rel="stylesheet" >
</head>

<body class="flex justify-center items-center min-h-screen bg-gray-100 w-full">
    <div class="bg-white p-12 rounded-lg shadow-md w-5/12">

        <form th:action="@{/user/login}" th:object="${user}" method="post">
            <h2 class="text-4xl font-bold mb-4">Create Account</h2>

            <p class="text-lg"> Username: </p>
            <input th:field="*{username}" class="rounded-md shadow-sm p-2 border border-gray-300 w-full mt-1">

            <p class="text-lg mt-4" > Password: </p>
            <input th:field="*{password}" class="rounded-md shadow-sm p-2 border border-gray-300 w-full mt-1">

            <p class="text-lg mt-4" > Confirm password: </p>
            <input class="rounded-md shadow-sm p-2 border border-gray-300 w-full mt-1">
            
            <div class="flex">
                <p> Already have an account? </p>
                <a th:href="@{/user/login}" class="text-green-400 hover:text-green-800 underline pl-1"> Log in here </a>
            </div>

            <div class="flex justify-between  mt-8">
                <button type="submit" class="bg-green-200 p-2 rounded-md shadow-sm text-green-800 hover:bg-green-300 w-24"> Login </button>
                <a class="rounded-md shadow-sm bg-gray-200 hover:bg-gray-300 p-2 w-24 text-center"> Go Back</a>
            </div>

        </form>
    </div>



        
    </p>
</body>

</html>

