<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0"> 
    <link href="/css/tailwind.css" rel="stylesheet" >
</head>

<body>
    
    
    <h2> Calendar</h2>

    <div class="grid grid-cols-7">

        <div> Sunday: </div>
        <div> Monday: </div>
        <div> Tuesday: </div>
        <div> Wednesday: </div>
        <div> Thursday: </div>
        <div> Friday: </div>

        <div th:each="event : ${events}">
            <p th:text="${event.title}"> </p>

        </div>

        
        
    </div>


</body>

</html>

