<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0"> 
    <link href="/css/tailwind.css" rel="stylesheet" >
</head>

<body class="p-4">
    
    
    <h2 class="font-bold text-green-800">Calendar</h2>

    <div class="grid grid-cols-7">

        <div> Sunday: </div>
        <div> Monday: </div>
        <div> Tuesday: </div>
        <div> Wednesday: </div>
        <div> Thursday: </div>
        <div> Friday: </div>
    </div>

    <div class="grid grid-cols-7">

        <div th:each="i : ${#numbers.sequence(0, firstDayOfMonth - 1)}">
            <!-- Empty calendar grids days at end of previous month -->
        </div>

        <div class="border border-green p-4" th:each="day : ${#numbers.sequence(firstDayOfMonth, daysInMonth)}">
            <p th:text="${day}">Day</p>
        </div>



    </div>


</body>

</html>

